@charset "utf-8";
/* CSS Document */

body {
    background: url("../images/none.png") repeat scroll 0 0 #F9F9F9;
    color: #333333;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    text-align: center;
}

.subheader {
    color: #777777;
}
.header-social {
    float: right;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 0 0;
    position: relative;
    text-decoration: none;
}

#header {
    min-height: 80px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.row-1 {
    background: url("../images/d.jpg") repeat-x scroll 0 0 #252525;
    border: 1px solid #111111;
}

#container {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

.row-3 {
    background: url("../images/m.png") repeat scroll left top #222222;
    min-height: 41px;
    padding: 10px 0;
}

.container .sixteen.columns {
    width: 940px;
}
.container .column, .container .columns {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
nav {
    float: left;
}

.fleft {
    float: left;
}

.logo h1 {
    float: left;
    margin-bottom: 0;
}

.container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

a, .layout-box, .tags a, .box1, .imgs img, .box1 h3, .notify span, .newsletter-button, .price-list-1 li, .post-holder .entry-title a, .categories ul li a, .sf-menu li, input, .pagination ul li a:link, .pagination ul li a:visited {
    transition: all 0.5s ease 0s;
}

.imgs {
    height: 92px;
    margin: 0 auto;
    position: relative;
    width: 92px;
    z-index: 2;
}
.imgs img {
    left: 0;
    position: absolute;
    top: 0;
}
.columns img, .column img {
    height: auto;
    max-width: 100%;
}
.container .one-third.column {
    width: 300px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a, .layout-box, .tags a, .box1, .imgs img, .box1 h3, .notify span, .newsletter-button, .price-list-1 li, .post-holder .entry-title a, .categories ul li a, .sf-menu li, input, .pagination ul li a:link, .pagination ul li a:visited {
    transition: all 0.5s ease 0s;
}
.sf-menu ul li {
    width: 100%;
}

.sf-menu li:hover {
    visibility: inherit;
}
.sf-menu li {
    float: left;
    position: relative;
}

.sf-menu a {
    display: block;
    position: relative;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    left: 0;
    top: 42px;
    z-index: 99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top: -999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    left: 176px;
    top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
    top: -999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
    left: 10em;
    top: 0;
}

.sf-menu > li a {
    color: #FFFFFF;
    font-family: 'Curier New',Arial;
    font-size: 12px;
    font-weight: 600;
    line-height: 40px;
    padding: 0 30px 0 18px;
    text-transform: capitalize;
}

.sf-menu li:hover, .sf-menu li.current-menu-item, .sf-menu li.sfHover, .sf-menu li.current-menu-parent {
    background: url("../images/shadow.png") repeat-x scroll 0 0 #D82B31;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}


a, a:visited {
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
    transition: color 0.1s ease-in-out 0s;
}

.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
}


footer{
	margin-top:30px;
	font-family:"Courier New", Courier, monospace;
	font-size:14px;
	text-align:center;
	margin-bottom:20px;
	}
	
footer a{
	color:#000000 !important;
	}
	
	articxle {
	font-family:  "Courier New";
	font-size: 16px;
	padding: 0 20px 30px 20px;
}